body {
  margin: 0;
  padding: 0;
  background-image: url("./Images/back3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

canvas {
  border: 5px solid yellow;

}

.game-canvas {
  display: none;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vw;


}

#start-button {

  background-color: black;
  font-family: "Jim Nightshade";
  width: 250px;
  padding: 20px 10px;
  font-size: 40px;
  color: yellow;

  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}